.image-imitation{
    padding: 0;    
}

.product-imitation{
    padding: 0;
    height: 250px !important;
}


.product-img-carousel {
    overflow: hidden;
    /* height: 640px; */
    max-width: 100%; /* or any custom size */
    max-height: 100%; 
    object-fit: contain;
}

.footer {
    /* position: relative !important; */
    /* bottom: auto; */
}

.top-navigation .wrapper.wrapper-content {
    min-height: 100vh;
  }