{% extends 'base_web.html' %}
{% load static %}

{% block content %}

<section class="hm-product-sec-wrp">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="py-5">
                    <div class="row">
                        <div class="col-md-6">
                            <p>Cart Products</p>
                        </div>
                        <div class="col-md-6">
                            <span class="float-right">(<strong>{{ order.get_cart_items }}</strong>) items</span>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-9">
                        {% for item in items %}
                        <div class="content">
                            <div class="table-responsive">
                                <table class="table shoping-cart-table">
                                    <tbody>
                                        <tr>
                                            <td width="90">
                                                <div class="cart-product-imitation">
                                                </div>
                                            </td>
                                            <td class="desc">
                                                <h3>
                                                    <a href="#" class="text-navy">
                                                        {{ item.product.name }}
                                                    </a>
                                                </h3>
                                                <p class="small">
                                                    {{ item.product.description }}
                                                </p>
                                                <dl class="small m-b-none">
                                                    <dt>Description lists</dt>
                                                    <dd>Category: {{ item.product.category.title }}</dd>
                                                    <dd>Pack Size: {{ item.product.pack_size.size }}</dd>
                                                </dl>

                                                <div class="m-t-sm">
                                                    <!-- <a href="#" class="text-muted"><i class="fa fa-trash"></i> Remove item</a> -->
                                                    <button data-product="{{ item.product.id }}" data-action="add"
                                                        class="btn btn-xs btn-outline btn-primary update-cart">Add More
                                                        <i class="fa fa-long-arrow-right"></i></button>
                                                    <button data-product="{{ item.product.id }}" data-action="remove"
                                                        class="btn btn-xs btn-outline btn-danger update-cart">Delete
                                                        from cart <i class="fa fa-trash"></i></button>
                                                </div>
                                            </td>

                                            <td>
                                                ৳{{ item.product.price }}
                                                <!-- <s class="small text-muted">$230,00</s> -->
                                            </td>
                                            <td width="65">
                                                <input type="text" class="form-control"
                                                    placeholder="{{ item.quantity }}">
                                            </td>
                                            <td>
                                                <h4>
                                                    ৳ {{ item.get_total }}
                                                </h4>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-md-3">
                        <h5>Cart Summary</h5>
                        <div class="content">
                            <h5>Total: <span class="font-bold"> ৳{{ order.get_cart_total|floatformat:2 }} </span></h5>
                            <hr />
                            <div class="m-t-sm">
                                <form action="{% url 'appcheckout' %}" method="POST">{% csrf_token %}
                                    <input type="hidden" name="order" value="{{ order.id }}">
                                    <div class="btn-group">
                                        <!-- <button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</button> -->
                                        <button type="submit" class="btn btn-primary btn-sm"><i
                                                class="fa fa-shopping-cart"></i> Checkout </button>
                                        <button class="btn btn-white btn-sm">Cancel</button>
                                        <!-- <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
                                            <a href="#" class="btn btn-white btn-sm"> Cancel</a> -->
                                    </div>
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}