{% extends 'base_web.html' %}
{% load static %}

{% block content %}

<section class="hm-product-sec-wrp">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hm-product-wrap clearfix">
                    <div class="hm-product-lft">
                        <div class="sidebar-menu">
                            <ul class="clearfix reset-list">
                                <li>
                                    {% for data in datas %}
                                    <a href="#" class="menu-item" data-submenu="{{ data.brand_name }}">{{ data.brand_name }}</a>
                                    <ul class="clearfix reset-list" id="{{ data.brand_name }}">
                                        <li>
                                            {% for sub in data.subcategories %}
                                            <a href="#" class="menu-item" data-submenu="{{ sub.subcategory_title }}">{{ sub.subcategory_title }}</a>
                                            <ul class="clearfix reset-list active" id="{{ sub.subcategory_title }}">
                                                {% for category in sub.categories %}
                                                <li><a href="{% url 'categoryproduct' category.id %}">{{ category.category_title }}</a></li>
                                                {% endfor %}
                                            </ul>
                                            {% endfor %}
                                        </li>
                                    </ul>
                                    {% endfor %}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hm-product-rgt">
                        <ul class="clearfix reset-list">
                            {% for product in products %}
                            <li>
                                <div class="hm-product-grid">
                                    <a href="{% url 'appproductdetail' product.id %}" rel="product.nme">
                                        <div class="hm-product-grid-img inline-bg"
                                            style='background:url("/media/{{ product.thumb_image }}");'>
                                        </div>
                                    </a>
                                    <!-- <div class="hm-product-grid-btm">
                                        <div class="hm-product-grid-tp-dsc">
                                            <h3><a href="{% url 'appproductdetail' product.id %}">{{ product.name }}</a></h3>
                                            {% if user.is_authenticated %}
                                            <span>{{ product.price }} BDT</span>z
                                            {% endif %}
                                            <span>{{ product.category }}</span>
                                        </div>
                                        <div class="hm-product-grid-bt-dsc">
                                            <h5>Sharing a healthy future</h5>
                                            <img src="/static/web-assets/images/logo.png" alt="Logo 1" />
                                        </div>
                                    </div> -->
                                </div>
                            </li>
                            {% endfor %}


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}