{% extends 'base_web.html' %}
{% load static %}

{% block content %}

<section class="hm-product-sec-wrp">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="hm-product-wrap clearfix">
                    <div class="hm-product-lft">
                        <div class="sidebar-menu">
                            <ul class="clearfix reset-list">
                                <li>
                                    <a href="#" class="menu-item" data-submenu="submenu1">Rijk Zwaan</a>
                                    <ul class="clearfix reset-list" id="submenu1">
                                        <li>
                                            <a href="#" class="menu-item" data-submenu="indoor-submenu1">Indoor</a>
                                            <ul class="clearfix reset-list active" id="indoor-submenu1">
                                                <li><a href="#">Brinjal</a></li>
                                                <li><a href="#">Cucumber</a></li>
                                                <li><a href="#">Gerkhin</a></li>
                                                <li><a href="#">Hot Pepper</a></li>
                                                <li><a href="#">Melon</a></li>
                                                <li><a href="#">Sweet Pepper</a></li>
                                                <li><a href="#">Tomato</a></li>
                                                <li><a href="#">Lettuce</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="clearfix reset-list" id="submenu2">
                                        <li>
                                            <a href="#" class="menu-item" data-submenu="indoor-submenu2">Indoor</a>
                                            <ul class="clearfix reset-list" id="indoor-submenu2">
                                                <li><a href="#">Brinjal</a></li>
                                                <li><a href="#">Cucumber</a></li>
                                                <li><a href="#">Gerkhin</a></li>
                                                <li><a href="#">Hot Pepper</a></li>
                                                <li><a href="#">Melon</a></li>
                                                <li><a href="#">Sweet Pepper</a></li>
                                                <li><a href="#">Tomato</a></li>
                                                <li><a href="#">Lettuce</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="clearfix reset-list" id="submenu3">
                                        <li>
                                            <a href="#" class="menu-item" data-submenu="indoor-submenu3">Indoor</a>
                                            <ul class="clearfix reset-list" id="indoor-submenu3">
                                                <li><a href="#">Brinjal</a></li>
                                                <li><a href="#">Cucumber</a></li>
                                                <li><a href="#">Gerkhin</a></li>
                                                <li><a href="#">Hot Pepper</a></li>
                                                <li><a href="#">Melon</a></li>
                                                <li><a href="#">Sweet Pepper</a></li>
                                                <li><a href="#">Tomato</a></li>
                                                <li><a href="#">Lettuce</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="hm-product-rgt">
                        <ul class="clearfix reset-list">
                            <li>
                                <div class="hm-product-grid">
                                    <div class="hm-product-grid-img inline-bg"
                                        style="background:url(/static/web-assets/images/hm-product-img-1.png);">
                                    </div>
                                    <div class="hm-product-grid-btm">
                                        <div class="hm-product-grid-tp-dsc">
                                            <h3>multistar Rz F1</h3>
                                            <span>F1-Hybrid</span>
                                            <span>cucumber</span>
                                        </div>
                                        <div class="hm-product-grid-bt-dsc">
                                            <h5>Sharing a healthy future</h5>
                                            <img src="/static/web-assets/images/logo.png" alt="Logo 1" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="hm-product-grid">
                                    <div class="hm-product-grid-img inline-bg"
                                        style="background:url(/static/web-assets/images/hm-product-img-1.png);">
                                    </div>
                                    <div class="hm-product-grid-btm">
                                        <div class="hm-product-grid-tp-dsc">
                                            <h3>multistar Rz F1</h3>
                                            <span>F1-Hybrid</span>
                                            <span>cucumber</span>
                                        </div>
                                        <div class="hm-product-grid-bt-dsc">
                                            <h5>Sharing a healthy future</h5>
                                            <img src="/static/web-assets/images/logo.png" alt="Logo 1" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="hm-product-grid">
                                    <div class="hm-product-grid-img inline-bg"
                                        style="background:url(/static/web-assets/images/hm-product-img-1.png);">
                                    </div>
                                    <div class="hm-product-grid-btm">
                                        <div class="hm-product-grid-tp-dsc">
                                            <h3>multistar Rz F1</h3>
                                            <span>F1-Hybrid</span>
                                            <span>cucumber</span>
                                        </div>
                                        <div class="hm-product-grid-bt-dsc">
                                            <h5>Sharing a healthy future</h5>
                                            <img src="/static/web-assets/images/logo.png" alt="Logo 1" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="hm-product-grid">
                                    <div class="hm-product-grid-img inline-bg"
                                        style="background:url(/static/web-assets/images/hm-product-img-1.png);">
                                    </div>
                                    <div class="hm-product-grid-btm">
                                        <div class="hm-product-grid-tp-dsc">
                                            <h3>multistar Rz F1</h3>
                                            <span>F1-Hybrid</span>
                                            <span>cucumber</span>
                                        </div>
                                        <div class="hm-product-grid-bt-dsc">
                                            <h5>Sharing a healthy future</h5>
                                            <img src="/static/web-assets/images/logo.png" alt="Logo 1" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="hm-product-grid">
                                    <div class="hm-product-grid-img inline-bg"
                                        style="background:url(/static/web-assets/images/hm-product-img-1.png);">
                                    </div>
                                    <div class="hm-product-grid-btm">
                                        <div class="hm-product-grid-tp-dsc">
                                            <h3>multistar Rz F1</h3>
                                            <span>F1-Hybrid</span>
                                            <span>cucumber</span>
                                        </div>
                                        <div class="hm-product-grid-bt-dsc">
                                            <h5>Sharing a healthy future</h5>
                                            <img src="/static/web-assets/images/logo.png" alt="Logo 1" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="hm-product-grid">
                                    <div class="hm-product-grid-img inline-bg"
                                        style="background:url(/static/web-assets/images/hm-product-img-1.png);">
                                    </div>
                                    <div class="hm-product-grid-btm">
                                        <div class="hm-product-grid-tp-dsc">
                                            <h3>multistar Rz F1</h3>
                                            <span>F1-Hybrid</span>
                                            <span>cucumber</span>
                                        </div>
                                        <div class="hm-product-grid-bt-dsc">
                                            <h5>Sharing a healthy future</h5>
                                            <img src="/static/web-assets/images/logo.png" alt="Logo 1" />
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}