{% extends 'base_web.html' %}
{% load static %}

{% block content %}

<section class="checkout-page-sec-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="total">
                    
                </div>
                <div class="checkout-page-wrap">
                    <div class="row">
                        <div class="col-md-12 px-5">
                            <h4>Login</h4>
                            <form method="POST" action="">{% csrf_token %}
                                <div class="checkout-form-fild-full">
                                    <input type="text" name="username" placeholder="Phone/Email">
                                </div>
                                <div class="checkout-form-fild-full">
                                    <input type="password" name="password" placeholder="Password">
                                </div>
                                <div class="checkout-form-submit">
                                    <button type="submit">Login Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}