{% extends 'base_web.html' %}
{% load static %}

{% block content %}

<section class="checkout-page-sec-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="total">
                    {% if msg %}
                    <p>{{ msg }}</p>
                    {% endif %}
                </div>
                <div class="checkout-page-wrap">
                    <div class="row">
                        <div class="col-md-12 px-5">
                            <h4>Login</h4>
                            <form method="POST" action="{% url 'verifylogin' %}">{% csrf_token %}
                                <div class="checkout-form-fild-full">
                                    <input type="text" name="username" placeholder="Phone/Email">
                                </div>
                                <div class="checkout-form-fild-full">
                                    <input type="password" name="pass" placeholder="Password">
                                </div>
                                <div class="checkout-form-submit">
                                    <button type="submit">Login Now</button>
                                </div>
                            </form>
                            <div class="mt-3">
                                <p>If Not Registered Please <a href="{% url 'storeregister' %}">REGISTER</a> here.</p>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}