{% extends 'base_web.html' %}
{% load static %}

{% block content %}

<section class="hm-product-sec-wrp">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h2>Order History</h2>
                    <p>Your Existing Order List</p>

                    <div class="accordion" id="accordionExample">

                        {% for order in orders %}
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                        data-target="#ord-{{ order.id }}" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        Order - {{ order.id }} - {{ order.order.date_ordered }} - ৳ {{ order.order.get_cart_total }}
                                    </button>
                                </h5>
                            </div>
                            <div id="ord-{{ order.id }}" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordionExample">
                                <div class="card-body">
                                    <span>
                                        <p>TRX ID: <strong>{{ order.order.trx_id }}</strong></p>
                                        <p>ORDER DATE: <strong>{{ order.order.date_ordered }}</strong></p>
                                        <p>TOTAL: <strong>{{ order.order.get_cart_total }} ৳</strong></p>
                                        <p>STATUS: <span class="label label-primary">{{ order.status }}</span></p>
                                        <p>PAYMENT STATUS: <span class="label label-primary">{{ order.payment_status }}</span></p>
                                    </span>
                                    <h3>PRODUCTS ORDERED</h3>
                                    <table class="table">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Product</th>
                                                <th scope="col">Qty</th>
                                                <th scope="col">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in order.items %}
                                            <tr>
                                                <th scope="row">{{ item.id }}</th>
                                                <td>{{ item.product }}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td>৳ {{ item.get_total }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}