{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>User List</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Users</strong>
            </li>
        </ol>
    </div>
    <!-- <div class="col-sm-8">
        <div class="title-action">
            <a href="" class="btn btn-primary">This is action area</a>
        </div>
    </div> -->
</div>

<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-lg-4">
            <div class="contact-box">
                <a class="row" href="user_profile.html">
                <div class="col-4">
                    <div class="text-center">
                        <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a2.jpg">
                        <div class="m-t-xs font-bold">Retailer</div>
                    </div>
                </div>
                <div class="col-8">
                    <h3><strong>Name</strong></h3>
                    <p><i class="fa fa-map-marker"></i> Zone Location</p>
                    <address>
                        <strong>Retailer Company</strong><br>
                        Addr: 1<br>
                        Addr: 2<br>
                        <abbr title="Phone">P:</abbr> (123) 12555569
                    </address>
                </div>
                    </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-box">
                <a class="row" href="user_profile.html">
                <div class="col-4">
                    <div class="text-center">
                        <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a2.jpg">
                        <div class="m-t-xs font-bold">Retailer</div>
                    </div>
                </div>
                <div class="col-8">
                    <h3><strong>Name</strong></h3>
                    <p><i class="fa fa-map-marker"></i> Zone Location</p>
                    <address>
                        <strong>Retailer Company</strong><br>
                        Addr: 1<br>
                        Addr: 2<br>
                        <abbr title="Phone">P:</abbr> (123) 12555569
                    </address>
                </div>
                    </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-box">
                <a class="row" href="user_profile.html">
                <div class="col-4">
                    <div class="text-center">
                        <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a2.jpg">
                        <div class="m-t-xs font-bold">Retailer</div>
                    </div>
                </div>
                <div class="col-8">
                    <h3><strong>Name</strong></h3>
                    <p><i class="fa fa-map-marker"></i> Zone Location</p>
                    <address>
                        <strong>Retailer Company</strong><br>
                        Addr: 1<br>
                        Addr: 2<br>
                        <abbr title="Phone">P:</abbr> (123) 12555569
                    </address>
                </div>
                    </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="contact-box">
                <a class="row" href="user_profile.html">
                <div class="col-4">
                    <div class="text-center">
                        <img alt="image" class="rounded-circle m-t-xs img-fluid" src="img/a2.jpg">
                        <div class="m-t-xs font-bold">Retailer</div>
                    </div>
                </div>
                <div class="col-8">
                    <h3><strong>Name</strong></h3>
                    <p><i class="fa fa-map-marker"></i> Zone Location</p>
                    <address>
                        <strong>Retailer Company</strong><br>
                        Addr: 1<br>
                        Addr: 2<br>
                        <abbr title="Phone">P:</abbr> (123) 12555569
                    </address>
                </div>
                    </a>
            </div>
        </div>                    
    </div>

</div>
{% endblock %}