{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-12">
        <h2>User Detail</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Dashboard</a>
            </li>
            <li class="breadcrumb-item">
                <a href="users.html">Users</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>User Detail</strong>
            </li>
        </ol>
    </div>
    <!-- <div class="col-sm-8">
        <div class="title-action">
            <a href="" class="btn btn-primary">This is action area</a>
        </div>
    </div> -->
</div>

<div class="wrapper wrapper-content">
    <div class="row animated fadeInRight">
        <div class="col-md-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Profile Detail</h5>
                </div>
                <div>
                    <div class="ibox-content no-padding border-left-right">
                        <img alt="image" class="img-fluid" src="img/profile_big.jpg">
                    </div>
                    <div class="ibox-content profile-content">
                        <h4><strong>Name</strong></h4>
                        <p><i class="fa fa-map-marker"></i> Zone</p>
                        <h5>
                            About me
                        </h5>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat.
                        </p>
                        <div class="row m-t-lg">
                            <div class="col-md-6">
                                <span class="bar">5,3,9,6,5,9,7,3,5,2</span>
                                <h5><strong>169</strong> Orders</h5>
                            </div>
                            <div class="col-md-6">
                                <span class="line">5,3,9,6,5,9,7,3,5,2</span>
                                <h5><strong>28</strong> Order Value</h5>
                            </div>
                        </div>
                        <div class="user-button">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Send Message</button>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
            </div>
        <div class="col-md-8">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Order History</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div>
                        <div class="feed-activity-list">

                            <div class="feed-element">
                                <div class="media-body ">
                                    <small class="float-right text-navy">
                                        <div class="actions">
                                            <a href="" class="btn btn-xs btn-danger"><i class="fa fa-thumbs-up"></i> Detail</a>
                                        </div>
                                    </small>
                                    <strong>Order Number: MAI26541</strong><br>
                                    <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                    
                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    <small class="float-right text-navy">
                                        <div class="actions">
                                            <a href="" class="btn btn-xs btn-danger"><i class="fa fa-thumbs-up"></i> Detail</a>
                                        </div>
                                    </small>
                                    <strong>Order Number: MAI26541</strong><br>
                                    <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                    
                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    <small class="float-right text-navy">
                                        <div class="actions">
                                            <a href="" class="btn btn-xs btn-danger"><i class="fa fa-thumbs-up"></i> Detail</a>
                                        </div>
                                    </small>
                                    <strong>Order Number: MAI26541</strong><br>
                                    <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                    
                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    <small class="float-right text-navy">
                                        <div class="actions">
                                            <a href="" class="btn btn-xs btn-danger"><i class="fa fa-thumbs-up"></i> Detail</a>
                                        </div>
                                    </small>
                                    <strong>Order Number: MAI26541</strong><br>
                                    <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                    
                                </div>
                            </div>
                            <div class="feed-element">
                                <div class="media-body ">
                                    <small class="float-right text-navy">
                                        <div class="actions">
                                            <a href="" class="btn btn-xs btn-danger"><i class="fa fa-thumbs-up"></i> Detail</a>
                                        </div>
                                    </small>
                                    <strong>Order Number: MAI26541</strong><br>
                                    <small class="text-muted">Today 4:21 pm - 12.06.2014</small>
                                    
                                </div>
                            </div>
                        </div>

                        <button class="btn btn-primary btn-block m"><i class="fa fa-arrow-down"></i> See Other Orders</button>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}