{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h2>Order Detail of {{ order.trx_id }}</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Dashboard</a>
            </li>
        </ol>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#update_status">
                Update Status
            </button>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="update_status" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add A Zone for Product</h4>                                
            </div>
            <form method="post" action="{% url 'updatestatus' order.id %}" >{% csrf_token %}
                <div class="modal-body">
                    <div class="form-group row"><label class="col-sm-2 col-form-label">Status</label>    
                        <div class="col-sm-10">
                            <select class="form-control m-b" name="status">
                                <option value="In Progress"> In Progress </option>
                                <option value="Accounts Checking"> Accounts Checking </option>
                                <option value="Packaging"> Packaging </option>
                                <option value="Delivered"> Delivered </option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row"><label class="col-sm-2 col-form-label">Customer Remark</label>    
                        <div class="col-sm-10"><input type="text" name="remark" placeholder="Customer Remark" value="{{ order.orderstatus.remark }}" class="form-control" required></div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Status</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    
    <div class="row">
        <div class="col-md-9">

            <div class="ibox">
                <div class="ibox-title">
                    <span class="float-right">(<strong>{{ items.count }}</strong>) products</span>
                    <h5>Products in your Order</h5>
                </div>
                {% for item in items %}                
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">
                            <tbody>                            
                            <tr>
                                
                                {% comment %} {% for p in item.product %} {% endcomment %}
                                <td width="90">
                                    <img style="width: 90px;" src="/media/{{ item.thumb_image }}" alt="{{ item.product }}">
                                </td>
                                <td class="desc">
                                    <h3>
                                    {% comment %} <a href="{% url 'productdetail' p.id %}" class="text-navy"> {% endcomment %}
                                       {{ item.product }}
                                    {% comment %} </a> {% endcomment %}
                                    </h3>
                                    <p class="small">
                                        {{ item.quantity }}
                                    </p>
                                    <dl class="small m-b-none">
                                        <dt>Description lists</dt>
                                        <dd>Brand: {{ item.brand }}</dd>
                                        <dd>Pack: {{ item.category }}</dd>
                                        <dd>Pack: {{ item.pack_size }}</dd>
                                    </dl>
                                </td>

                                <td>
                                    ৳{{ item.price }}
                                </td>
                                {% comment %} {% endfor %} {% endcomment %}
                                
                                <td width="65">                                    
                                    * {{ item.qty }} =
                                </td>
                                <td>
                                    <h4>
                                        ৳ {{ item.subtotal }}
                                    </h4>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Order Summary</h5>
                </div>
                <div class="ibox-content">
                    <span> Total : </span> <Strong> ৳ {{ total }}  </Strong> <br>
                    <span> Contact Phone : </span> <Strong> {{ web.phone }}  </Strong> <br>
                    <span> Contact Person : </span> <Strong> {{ web.name }}  </Strong> <br>
                    <span> Client Address : </span> <Strong> {{ web.address }}  </Strong> <br>
                    <span> Order Status : </span> <Strong> {{ web.status }}  </Strong> <br>
                    <span> Payment Status : </span> <Strong> {{ web.payment_status }}  </Strong> <br>
                    <span> Date : </span> <Strong> {{ web.date_added }}  </Strong> <br>
                    {% comment %} {% if order.cart.isComplete is False %}
                        <span> Payment Status : </span> <span class="label label-danger">InComplete</span> <br>
                    {% else %}
                        <span> Payment Status : </span> <span class="label label-success">Complete</span> <br>
                    {% endif %}
                    <span> Order Status : </span> <span class="label label-info">{{ order.orderstatus.status }}</span> <br>
                    <span> Order Customer Remark : </span> <span class="label label-success">{{ order.orderstatus.remark }}</span> {% endcomment %}
                    <hr/>
                </div>
            </div>


            <div class="ibox">
                <div class="ibox-title">
                    <h5>Support</h5>
                </div>
                <div class="ibox-content text-center">



                    <h3><i class="fa fa-phone"></i> +43 100 783 001</h3>
                    <span class="small">
                        Please contact with us if you have any questions. We are avalible 24h.
                    </span>


                </div>
            </div>

        </div>
    </div>


</div>
{% endblock %}
