/*
------------------
 Footer Css
------------------
*/
.footer-tp {
    background: #f0f3ea;
    padding: 50px 0;
}
.ftr-logo {
    max-width: 140px;
    width: 100%;
    padding-bottom: 20px;
}
.ftr-col-dsc-1 p{
	margin-bottom: 20px;
}
.ftr-col-dsc-1 ul{
	margin: 0 -10px;
}
.ftr-col-dsc-1 ul li{
	float: left;
	padding: 0 10px;
}
.ftr-col-dsc-1 ul li a {
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    color: #94c11f;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    border: 2px dotted #94c11f;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
}
.ftr-col-dsc h5 {
    font-size: 20px;
    line-height: 1;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.ftr-col-dsc h5:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 2px;
    background: #94c11f;
}
.ftr-menu-item{
	padding-left: 40px;
}
.ftr-menu-item ul li{
	padding: 5px 0;
}
.ftr-menu-item ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 1;
	color: #000;
}
.ftr-menu-item ul li a:hover{
	color:#94c11f;
}
.ftr-gallery-item ul{
	margin: 0 -5px;
}
.ftr-gallery-item ul li{
	width: 33.3333%;
	float: left;
	padding: 5px 5px 5px;
}
.footer-btm{
	padding: 20px 0;
	background: #135e2c;
}
.footer-btm p{
	margin-bottom: 0;
	text-align: center;
	color: #fff;
}

@media(max-width:1199px){
    .ftr-col-dsc-1 ul li {
        padding: 0 5px;
    }
    .ftr-menu-item {
        padding-left: 20px;
    }
    .ftr-col-dsc h5 {
        font-size: 19px;
    }
}
@media(max-width:991px){
    .ftr-col-dsc h5 {
        font-size: 18px;
    }
    .ftr-menu-item {
        padding-left: 0;
    }
    .ftr-menu-item ul li a {
        font-size: 14px;
    }
    .ftr-col-dsc-1 ul li a {
        width: 25px;
        height: 25px;
        font-size: 14px;
        line-height: 22px;
    }
}
@media(max-width:767px){
    .ftr-col-dsc h5 {
        font-size: 17px;
    }
    .ftr-col-dsc{
        text-align: center;
        display: table;
        margin: 0 auto;
        padding-bottom: 40px;
    }
    .ftr-menu-item {
        padding-left: 0;
        text-align: center;
        padding-bottom: 40px;
    }
    .ftr-col-dsc h5:after {
        left: 50%;
        transform: translateX(-50%);
    }
    .ftr-gallery-item{
        display: table;
        margin: 0 auto;
        max-width: 300px;
        width: 100%;
    }
    .footer-tp {
        padding: 50px 0 10px;
    }
    .footer-btm p {
        font-size: 14px;
    }
}
@media(max-width:575px){
    .ftr-col-dsc h5 {
        font-size: 16px;
    }
}
@media(max-width:479px){

}
