/*
------------------
 Header Css
------------------
*/
.hdr-tp{
	padding-top: 100px;
	padding-bottom: 50px;
}
.hdr-tp-lft{
	float: left;
}
.hdr-tp-rgt {
    float: right;
    width: 100%;
    text-align: right;
}
.hdr-tp-rgt a,
.hdr-tp-lft a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	max-width: 200px;
	width: 100%;
}
.hdr-lft{
	float: left;
}
.hdr-rgt{
	float: right;
}
.main-nav ul li{
	float: left;
	padding: 0 40px;
}
.main-nav ul li:last-of-type{
	padding-right: 0;
}
.hdr-lft a,
.main-nav ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #000;
	font-size: 16px;
	line-height: 1;
}
.hdr-btm{
	background: #fbb81b;
	padding: 20px 20px;
	border-radius: 20px;
}