/*
---------------------
  breadcrumb-wrap
---------------------
*/
.breadcrumb-sec-wrap{
	padding: 50px 0;
}
.breadcrumb-wrap ul li{
	float: left;
	padding: 0 10px;
}
.breadcrumb-wrap ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 14px;
	line-height: 1;
	color: #000;
	position: relative;
}
.breadcrumb-wrap ul li a:after{
	content: '';
	position: absolute;
	right: -15px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	width: 10px;
	height: 1px;
	background: #000;
}
.breadcrumb-wrap ul li:last-of-type a:after{
	content: none;
}
.breadcrumb-wrap ul li a:hover{
	color: #125e2c;
}
/*
--------------------
 Product Css
--------------------
*/
.hm-product-sec-wrp{
	padding-bottom: 50px;
}
.hm-product-lft{
	width:25%;
	float: left;
}
/*.sidebar-menu ul {
  display: none;
}*/
.sidebar-menu{
	border-right: 10px solid#fbb81b;
	height: 800px;
	margin-right: 40px;
}
.sidebar-menu ul li{
	padding: 5px 0;
}
.sidebar-menu > ul > li > ul > li > ul,
.sidebar-menu > ul > li > ul{
	padding-left: 40px;
}
.sidebar-menu > ul > li > ul > li > ul,
.sidebar-menu > ul > li > ul{
	padding-top: 10px;
}
.sidebar-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: #000;
	font-size: 16px;
	line-height: 1;
}
.sidebar-menu ul li a:hover{
	color: #94c120;
}
.sidebar-menu ul li ul li ul{
	display: none;
}
.sidebar-menu ul.active {
  display: block;
}
.hm-product-rgt{
	width: 75%;
	float: right;
}
.hm-product-rgt ul li{
	width: 33.3333%;
	float: left;
	padding: 0 20px 20px;
}
.hm-product-grid-img{
	/* height: 200px !important; */
	height: 400px !important;
	object-fit: cover;
}
.hm-product-grid-btm{
	padding: 20px 0;
}
.hm-product-grid-tp-dsc h3{
	font-size: 22px;
	line-height: 1;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.hm-product-grid-tp-dsc span{
	display: block;
	font-size: 14px;
	line-height: 1;
	color: #000;
	padding-bottom: 10px;
}
.hm-product-grid-bt-dsc{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.hm-product-grid-bt-dsc img{
	max-width: 80px;
	width: 100%;
}
.hm-product-grid-bt-dsc h5 {
    font-size: 18px;
    line-height: 1.3;
    color: #94c120;
    margin-bottom: 0;
    width: 86px;
}
.hambar-icon{
	display: none;
}

/*
--------------------
 Responsive Css
--------------------
*/
@media(max-width:1199px){
	.main-nav ul li {
	    padding: 0 25px;
	}
	.hdr-tp-rgt a,
	.hdr-tp-lft a {
	    max-width: 160px;
	    width: 100%;
	}
	.sidebar-menu > ul > li > ul > li > ul,
	.sidebar-menu > ul > li > ul {
	    padding-left: 30px;
	}
	.sidebar-menu {
	    margin-right: 30px;
	}
	.hm-product-grid-tp-dsc h3 {
	    font-size: 20px;
	}
}
@media(max-width:991px){
	.hm-product-grid-tp-dsc h3 {
	    font-size: 19px;
	}
	.main-nav ul li {
	    padding: 0 15px;
	}
	.hm-product-rgt ul{
		margin: 0 -10px;
	}
	.hm-product-rgt ul li {
	    padding: 0px 10px 20px;
	}
	.sidebar-menu > ul > li > ul > li > ul,
	.sidebar-menu > ul > li > ul {
	    padding-left: 20px;
	}
}
@media(max-width:767px){
		.hm-product-grid-tp-dsc h3 {
		    font-size: 18px;
		}
		.hm-product-lft {
	    width: 100%;
	}
	.hm-product-rgt {
	    width: 100%;
	}
	.hm-product-rgt ul{
		margin: 0 -10px;
	}
	.hm-product-rgt ul li {
	    width: 50%;
	    padding: 0 10px 20px;
	}
	.breadcrumb-sec-wrap {
	    padding: 30px 0;
	}
	.hdr-btm {
	    position: relative;
	}
	.main-nav{
	    position: absolute;
	    left: 0;
	    right: 0;
	    top: 100%;
	    background: #94c120;
	    z-index: 999;
	    padding: 20px 20px;
	    display: none;
	}
	.main-nav ul li {
	    padding: 5px 0;
	    float: none;
	    text-align: center;
	}
	.hdr-btm {
	    border-radius: 0;
	}
	.hdr-tp-rgt a,
	.hdr-tp-lft a {
	    max-width: 120px;
	    width: 100%;
	}
	.hdr-tp {
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	.hambar-icon i{
		font-size: 20px;
	}
	.hambar-icon{
		display: block;
	}
	.sidebar-menu {
	    margin-right: 0;
	    display: none;
	}
}
@media(max-width:575px){

}
@media(max-width:479px){
			.hm-product-grid-tp-dsc h3 {
			    font-size: 17px;
			}
		  .hm-product-rgt ul li {
		    width: 100%;
		    padding: 0 10px 20px;
		}
}